name: Java CI

on: [push]

jobs:
  build_and_test:
    strategy:
      matrix:
        jdkversion: [8, 11, 17]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.jdkversion }}
        cache: 'maven'
    - name: Build with Maven
      run: mvn -V -B clean package --file pom.xml
